<section class="section">
    <div class="container">
        <h1 class="title" style="text-align:center">Keynote Speakers</h1>
       
        <div class="columns">
            <div class="column is-5 is-offset-1">
                <div class="card">  
                    <p class="mt-5"></p>                         
                    <div class="card-image">
                        <!-- Copyright overlay on photo -->
                        <div class="has-background-black has-text-right p-1 mx-6 is-size-5-mobile is-size-7 has-text-weight-bold _copyright">
                            <a href="https://www.uu.nl/staff/JMonstadt">
                                &copy; Monstadt
                            </a>
                        </div>
    
                            <figure>
                             <img width="300" height="600" src="img/monstadt.jpeg" alt="Prof. Jochen Monstadt" style="width:67%" loading="lazy">
                            </figure>
                        </div>                        
                        <div class="card-content">
                            <p class="title is-4">Prof. Dr. Jochen Monstadt</p>
                            <p class="subtitle is-6">
                                <a href="https://www.uu.nl/staff/JMonstadt">
                                    Professor of Governance of Urban Transitions and Chair of Spatial Planning, Department of Human Geography

                                </a>
                                <br>Utrecht University, Utrecht
                            </p>
                        </div>
                        <!--<div class="card-content" style="text-align:justify">
                            <p class="mb-3"><strong>Metabolisms: Symbolic, Imaginary, and Real</strong></p>
                            <p class="ml-6"><i>“… a thing cannot be understood or even talked about independently of the relations it has with other things. For example, resources can be defined only in relationship to the mode of production which seeks to make use of them and which simultaneously ‘produces’ them through both the physical and mental activity of the users’”</i></p> <p class="mb-2" style="text-align:right">– D. Harvey, Limits to capital, 1980: 212.</p>
                            <p> The presentation will consider how organic and non-organic ‘stuff’ is both sustained and continually transformed through metabolic circulatory processes that fuse together both physical dynamics and social relations/processes. This transfiguration of matter constitutes a socio-ecological process through which new socio-physical configurations come into being, are transformed, or disappear.<br> This continuous enrolment of non-human matter within circulatory circuits of socio-ecological metabolism operates in conjunction with particular imaginaries and fantasies of what ‘sustains’ a given socio-ecological order. Such imaginaries or fantasies invariably dwell in the registers of ‘growth’, ‘development’, ‘progress’ or ‘sustainability’.<br>Nonetheless, such imaginaries and their symbolic expression customarily disavow or repress the inconsistencies, conflicts, and antagonisms that run through the metabolic circuit and render it inherently unstable, contradictory and contested, and, thereby, political. The figures of the Real, the Imaginary, and the Symbolic constitution of metabolic circuits will be briefly illustrated through a rudimentary metabolic excavation of ‘the Electrical Vehicle’ as techno-managerial panacea for the climate crisis.</p>                                
                        </div> -->
                    </div>
                </div>
            <div class="column is-5">
                <div class="card">  
                    <p class="mt-5"></p>                         
                    <div class="card-image">
                        <!-- Copyright overlay on photo -->
                        <div class="has-background-black has-text-right p-1 mx-6 is-size-5-mobile is-size-7 has-text-weight-bold _copyright">
                            <a href="https://www.geschichte.tu-darmstadt.de/institut_fuer_geschichte_1/ifg_kontaktdetails_3081.de.jsp">
                                &copy; Engels
                            </a>
                        </div>
    
                            <figure>
                             <img width="887" height="1170" src="img/Engels_1013_3_1180x0.jpg" alt="Prof. Jens Ivo Engels" style="width:79%" loading="lazy">
                            </figure>
                        </div>              
                    <div class="card-content">
                        <p class="title is-4">Prof. Dr. Jens-Ivo Engels</p>
                        <p class="subtitle is-6">
                            <a href="https://www.geschichte.tu-darmstadt.de/institut_fuer_geschichte_1/ifg_kontaktdetails_3081.de.jsp">Professor of Recent and Recent History, Institute of History
                            </a>
                            <br> Technical University Darmstadt
                        </p>
                    </div>
                    <!--<div class="card-content" style="text-align:justify">
                        <p class="mb-3"><strong>Environment, metabolism and infrastructures: circulations in Paris, 18th-21st centuries</strong></p>
                        <p> In this talk, I would like to address the changing links existing between environment, metabolism and infrastructures in a long-term perspective and through an urban lens. The focus on Paris urban area will help to illustrate this history, based on previous research and on history of technology and environmental history framework.</p>
<p>Choosing the second half of the 18th century as a starting point, I will argue that Paris has faced, at that time, a dual environmental crisis, both internal and external. Paris was lacking food and wood from its supply areas, a situation reinforced by weather events, and was affected by an excess mortality (if compared to rural areas) largely attributed to bad environmental conditions inside the city. These problems were of major concern for all of those who were involved in urban issues and some solutions were proposed in order to improve the situation. Managing and improving urban metabolism was one of them and has largely been applied during 19th century. To the harms of stagnation were opposed the benefits of circulation (of water, air, goods, money, people, and so on). If the word “metabolism” was not in use among Paris stakeholders, a truly metabolic approach to the city took place. It resulted in a hybrid metabolism, made of circularity (for nutrients and most of urban by products) and linearity (for energy sources and water), sustained by both linear and point infrastructures, true and “soft” networks, mainly at local level even if supply areas tended to extend. During the 19th century, Paris was then a recycling city, and nether had been to this extent before, and at the same time was engaged in energy transition to fossil fuels. If material circulation increased, it remained, on an individual basis, quite stable, except for water. This model was questioned during the last third of the century, again for internal and external reasons, some of them of environmental nature, others connected to industrial or defensive issues. This has led to a profound transformation of urban metabolism, characterised by linearization, externalisation, increasing flows and increasing dependence on linear or remote infrastructures. Even if recycling remained a matter of concern in Paris at the beginning of the 20th century, it slowly disappeared – the second world war gave a new actuality to this way of managing urban excreta – and was replaced by infrastructural solutions dedicated to, at best, waste (bad) treatment, or to abandonment to nature, to the point that one might refer to the infrastructures of abandonment (sanitary landfills for instance). The linearization of metabolism was also accompanied by a spatial, institutional and professional compartmentalization between the city and its supply and discharge areas, the link between them being reduced to infrastructures. However, the last third of the 20th century was characterized by the emergence of a trend of thought that questioned urban metabolism and pointed the harmful impacts of linear urban metabolism supported by networked infrastructures. Today, if one can observe some changes in response to these criticisms, I argue that they remain very tenuous, to the point that I could conclude that the solutions developed by public authorities or private companies seem more dedicated to strengthen the dominant model than to change it.</p>
                    </div>
                </div> -->
            </div>
        </div>
</section> -->